@{
    ViewBag.Title = "About";
}

<div class="region content span8">
    <div class="page-section block clearfix">
        <div class="field-collection-view clearfix">
            <div class="p-3 mb-2 bg-success text-white"><center><h1>About Us</h1></center></div>
            <div class="field field-name-field-page-summary page-summary"></div>
            <div class="field field-name-field-page-image page-image">
                <img width="1140" src="https://www.visitgreenwich.org.uk/wp-content/uploads/2016/03/VG007.jpg" class="attachment-687x1xx1 size-687x1xx1" alt="Greenwich, View from the top of the Hill">
            </div>
            <div class="field field-name-field-content page-content">
                <p>This is the official website for Visit Greenwich.</p>
                <p>Visit Greenwich is the Royal Borough of Greenwich Destination Management Company, a partnership based, not for profit, Community Interest Company.</p>
                <p>We work with partners large and small in and around the area – with visitor attractions, accommodation providers, transport operators, meetings and events venues, the hospitality and retail sectors and the travel trade and media.</p>
                <p>Visit Greenwich is a private/public partnership, led by a board of tourism professionals, representing different sectors of the industry, with an independent chair. We promote Greenwich and the surrounding area as a visitor destination and place to stay.</p>
                <p>Partners include the Royal Borough of Greenwich, Royal Museums Greenwich, Greenwich Foundation for the Old Royal Naval College, Greenwich Hospital (Greenwich Market), London Cruise Ports, Anschutz Entertainment Group, University of Greenwich, Docklands Light Railway, City Cruises, Cutty Sark, Uber Boat by Thames Clippers, The Fan Museum, Greenwich Tavern, Emirates Air Line, Greenwich Tour Guides, Royal Greenwich Tours and Rivington Greenwich.</p>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="field-collection-view clearfix">
            <div class="p-3 mb-2 bg-success text-white"><center><h1>Credentials</h1></center></div>
            <div class="field field-name-field-page-summary page-summary"></div>
            <div class="field field-name-field-content page-content">
                <p><iframe src="https://www.youtube.com/embed/3TVrTYlW1mg" width="100%" height="400" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="field-collection-view clearfix">
            <div class="p-3 mb-2 bg-success text-white"><center><h1>Company Structure</h1></center></div>
            <div class="field field-name-field-page-summary page-summary"></div>
            <div class="field field-name-field-content page-content">
                <h1>Board of Directors</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 29.1603%;">Name</th>
                            <th style="width: 29.2366%;">Role</th>
                            <th style="width: 40.8397%;">Company</th>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Linda Drew</td>
                            <td style="width: 29.2366%;">Chair</td>
                            <td style="width: 40.8397%;">Visit Greenwich</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Cllr Miranda Williams</td>
                            <td style="width: 29.2366%;">Vice Chair</td>
                            <td style="width: 40.8397%;">Royal Borough of Greenwich</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Sean Collins</td>
                            <td style="width: 29.2366%;">Chief Executive Officer</td>
                            <td style="width: 40.8397%;">Uber Boat by Thames Clippers</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Kate Seeckts</td>
                            <td style="width: 29.2366%;">Director, Development</td>
                            <td style="width: 40.8397%;">Royal Museums Greenwich</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Rory O’Leary</td>
                            <td style="width: 29.2366%;">General Manager</td>
                            <td style="width: 40.8397%;">DoubleTree by Hilton London Greenwich</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Barrie Kelly</td>
                            <td style="width: 29.2366%;">Chief Executive</td>
                            <td style="width: 40.8397%;">Visit Greenwich</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Matthew Mees</td>
                            <td style="width: 29.2366%;">Chief Executive</td>
                            <td style="width: 40.8397%;">Old Royal Naval College</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Sam Parrett OBE MSc FCIPD</td>
                            <td style="width: 29.2366%;">Principal and Chief Executive</td>
                            <td style="width: 40.8397%;">London South East Colleges</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Cllr Adel Khaireh</td>
                            <td style="width: 29.2366%;">Councillor</td>
                            <td style="width: 40.8397%;">Royal Borough of Greenwich</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Heidi King</td>
                            <td style="width: 29.2366%;">Director of Communications and Recruitment</td>
                            <td style="width: 40.8397%;">The University of Greenwich</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">Steve Sayer</td>
                            <td style="width: 29.2366%;">Vice President and General Manager</td>
                            <td style="width: 40.8397%;">The O2</td>
                        </tr>
                        <tr>
                            <td style="width: 29.1603%;">James Heaton</td>
                            <td style="width: 29.2366%;">Chief Executive</td>
                            <td style="width: 40.8397%;">Woolwich Works</td>
                        </tr>
                    </thead>
                </table>
                <div class="p-3 mb-2 bg-success text-white"><center><h1>Company Structure</h1></center></div>
                <p><a><img class="aligncenter size-full wp-image-23464" src="https://www.visitgreenwich.org.uk/wp-content/uploads/2020/04/Visit-Greenwich-Organisation-Structure-April-2020-1.jpg" alt="" width="1151" height="776"></a></p>
                <hr>
            </div>
        </div>
    </div>
</div>
