@{
    ViewBag.Title = "Contact";
}

<div class="p-3 mb-2 bg-danger text-white"><center><h1>Contact</h1></center></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"> <h4>UK students</h4></th>
            <th scope="col"><h4>International/EU Students</h4></th>
            <th scope="col"><h4>Avery Hill Student Centre</h4></th>
            <th scope="col"><h4>Greenwich Student Centre</h4></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Telephone:020 8331 9000
                <br>Fax: 020 8331 8145
                <br>E-mail:courseinfo@gre.ac.uk
            </td>
            <td>
                Telephone:+44 (0)20 8331 8136
                <br>Fax: 020 8331 8625
                <br>E-mail:international@gre.ac.uk
            </td>
            <td>
                Room 004, Southwood House
                <br>Telephone:+44 (0)20 8331 8272
                <br>E-mail:StudentCentre@gre.ac.uk
            </td>
            <td>
                Ground floor, Dreadnought building
                <br>Telephone:+44 (0)20 8331 8272
                <br>E-mail:StudentCentre@gre.ac.uk
            </td>
    </tbody>
</table>
